/* Colors

Black Text: #1f1716;
Green: #41c365;

Green Bg: #d5ede0; 
*/

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
  padding: 0;
  margin: 0;
}

/* Container */
body {
  color: #1f1716;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  line-height: 1.80857;
  font-weight: normal;
}

header {
  background: url(img/banner.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
/* 
header::after {
  content: "";
  display: table;
  clear: both;
} */

section {
  padding: 70px 0;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1140px;
  margin: auto;
  padding: 0 15px;
}

.navbar {
  padding: 40px;
}

/* Text */
a {
  text-decoration: none;
}

p {
  font-size: 17px;
  line-height: 30px;
}

h2 {
  font-size: 45px;
  line-height: 40px;
  font-weight: 500;
}

h3 {
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  padding: 20px 0;
}

h4 {
  font-size: 25px;
  line-height: 25px;
}

.green {
  color: #41c365;
}

.title-2 {
  padding-bottom: 60px;
  max-width: 1110px;
  margin: auto;
}

/* Buttons */
.btn {
  width: 190px;
  height: 50px;
  padding: 10px 0;
  border: 2px solid #1f1716;
  border-radius: 0;
  background: #1f1716;
  color: #fff;
  font-size: 19px;
  text-transform: uppercase;
  margin-top: 40px;
  transition: 0.3s;
}

.btn:hover {
  background: #41c365;
  border-color: #41c365;
  color: #fff;
}

.btn-green {
  background: transparent;
  border-color: #41c365;
  color: #41c365;
}

/* Header */
.tel-number {
  font-size: 20px;
}

.tel-number a {
  color: #fff;
}

.hero-container {
  display: flex;
}

.col-40 {
  width: 40%;
  display: inline-block;
}

.col-60 {
  width: 60%;
  display: inline-block;
}
/* 
.col-left {
  float: left;
}

.col-right {
  float: right;
} 
*/
.cel-img {
  width: 100%;
}

.header-title {
  max-width: 428px;
  float: right;
  padding-left: 55px;
}

.title-green {
  font-size: 60px;
  color: #41c365;
  line-height: 77px;
  font-weight: bold;
}

.title-black {
  font-size: 51px;
  font-weight: bold;
  padding: 25px 0;
}

.title-p {
  font-size: 17px;
}

/* Service */
.service {
  text-align: center;
}

.features {
  max-width: 33.3333%;
  padding: 20px;
}

.fe-img {
  width: 120px;
  height: 120px;
  border: 5px solid #41c365;
  border-radius: 50%;
  margin: auto;
  transition: 0.5s;
}

.fe-img:hover {
  background: #41c365;
}

.fe-img:hover img {
  filter: brightness(5);
}

.fe-img img {
  padding-top: 25%;
  height: 50%;
}

/* Why */
.why {
  background: #d5ede0;
}

.why h2 {
  text-align: center;
}

.why .col-40,
.why .col-60 {
  padding: 0 15px;
}

.why-img {
  width: 100%;
}

.why p {
  line-height: 34px;
  padding-right: 90px;
}

.why .container:not(:last-child) {
  padding-bottom: 60px;
}

/* Testimonials */
.testimonials {
  text-align: center;
}

.testimonials h2 {
  margin-bottom: 30px;
}

.testimonials .title-2 p {
  width: 50%;
  margin: auto;
}

.caro-container {
  max-width: 1110px;
  margin: auto;
}

.caro-card {
  background-color: #41c365;
  border-radius: 20px;
  width: 100%;
  color: #fff;
  padding: 20px;
  box-sizing: border-box;
}

.caro-img {
  width: 50px;
  height: 50px;
  margin: auto;
  border-radius: 100%;
  background-color: #ddd;
}

.caro-title {
  font-size: 25px;
  text-transform: uppercase;
}

.caro-p {
  padding: 0 10px 10px;
  font-size: 15px;
  line-height: 24px;
}

.owl-dots {
  margin-top: 30px;
}

.owl-carousel button.owl-dot {
  background: #41c365;
  width: 25px;
  height: 25px;
  border-radius: 25px;
  margin: 0px 5px;
}

.owl-carousel button.owl-dot.active {
  background: #1f1716;
}

/* Asked */
.asked .title-2 {
  text-align: right;
  width: 100%;
}

.ask-img {
  width: 100%;
}

.accordion-container {
  width: 100%;
}

.acc-box {
  padding: 10px;
  margin-bottom: 20px;
  border: 2px solid #41c365;
  overflow: hidden;
  height: 30px;
  transition: height 0.3s;
  --showHeight: auto;
}

.acc-box.show {
  height: var(--showHeight);
}

.acc-item {
  color: #1f1716;
  background-color: #ddd;
  width: 100%;
  display: inline-block;
  font-size: 17px;
  padding: 0 10px;
  box-sizing: border-box;
}

.acc-sp {
  color: #41c365;
  font-size: 30px;
  line-height: 0px;
  float: right;
  margin-top: 15px;
}

.acc-text {
  box-sizing: border-box;
  padding: 20px 10px 10px;
}

/* Contact */
.contact {
  background-image: url(img/contact.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.col-50 {
  width: 50%;
}

.contact * {
  color: #fff;
}

.contact .green {
  color: #41c365;
}

.contact-text {
  font-size: 48px;
}

.contact .btn {
  text-transform: capitalize;
}

.btn-white {
  background-color: #fff;
  border-color: #fff;
  color: #41c365;
}

form.contact-form {
  width: 100%;
  background: #fff;
  padding: 55px 40px;
  text-align: center;
  box-sizing: border-box;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  border: none;
  border-bottom: 1px solid #000;
  border-radius: 0;
  padding: 20px 10px;
  margin-bottom: 20px;
  font-size: 16px;
  color: #666;
  box-sizing: border-box;
}

/* Footer */
footer {
  text-align: center;
  padding: 30px 10px;
}

@media (max-width: 1200px) {
  .container {
    max-width: 960px;
  }

  .title-green {
    font-size: 50px;
    line-height: 60px;
  }

  .title-black {
    font-size: 43px;
  }

  .caro-container {
    max-width: 960px;
  }
}

@media (max-width: 1000px) {
  .container {
    max-width: 720px;
  }

  .header-title {
    max-width: 252px;
  }

  .title-green {
    font-size: 40px;
    line-height: 40px;
  }

  .title-black {
    padding: 15px 0;
    line-height: 60px;
  }

  .why .col-40 {
    align-self: flex-start;
  }

  .why-img {
    width: 100%;
    margin-top: 20px;
  }

  .why p {
    padding-right: 0;
  }

  .acc-box {
    height: 25px;
  }

  .acc-item {
    font-size: 12px;
    height: 24px;
    line-height: 25px;
  }

  .acc-sp {
    font-size: 20px;
    margin-top: auto;
    line-height: 25px;
  }

  .caro-container {
    max-width: 720px;
  }

  form.contact-form {
    padding: 25px;
  }

  .contact-text {
    font-size: 40px;
    margin: 38px 0;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 0;
    flex-direction: column;
    max-width: 540px;
  }

  header {
    background-position: 47%;
  }

  .nav-container {
    flex-direction: row;
  }

  .hero-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .header-title {
    max-width: 70%;
    float: left;
  }

  .col-40 {
    width: 100%;
  }

  .col-60 {
    width: 100%;
  }

  .header-title {
    max-width: 70%;
  }

  .cel-img {
    width: 90%;
    margin: 40px 20px 10px;
  }

  .tel-number {
    font-size: 15px;
  }

  .tel-number a {
    display: block;
  }

  .features {
    max-width: 500px;
    padding: 20px;
  }

  .why .col-40,
  .why .col-60 {
    box-sizing: border-box;
    padding: 0 25px;
  }

  .testimonials .title-2 p {
    width: 80%;
  }

  .caro-container {
    max-width: 540px;
  }

  .col-50 {
    width: 100%;
  }

  .contact {
    padding: 100px 0;
  }

  .contact-text {
    font-size: 50px;
    margin: 20px 0;
  }

  form.contact-form {
    margin-top: 40px;
    padding: 35px;
  }
}

@media (max-width: 550px) {
  .container {
    max-width: none;
  }

  h2 {
    font-size: 35px;
  }

  header {
    background-position: 44%;
  }

  .navbar {
    padding: 30px 15px;
  }

  .tel-number {
    display: none;
  }

  .why .col-40,
  .why .col-60 {
    box-sizing: border-box;
    padding: 0 15px;
  }

  .header-title {
    max-width: none;
    padding: 0 15px;
  }

  .title-green {
    font-size: 35px;
  }

  .title-black {
    font-size: 35px;
  }

  .cel-img {
    margin: 40px 0px 10px;
  }

  .caro-container {
    margin: 0 15px;
  }

  .testimonials .title-2 p {
    width: 90%;
  }

  .asked {
    padding: 70px 15px;
  }

  .acc-item {
    font-size: 11px;
    height: auto;
  }

  .contact {
    padding: 100px 15px;
  }

  .contact-text {
    font-size: 30px;
    margin: 10px 0;
  }
}

@media (max-width: 360px) {
  .acc-box {
    height: 50px;
  }

  form.contact-form {
    padding: 20px;
  }
}
